.matriz {
  border: 1px solid black;
  width: auto;
  height: auto;
  display: inline-grid;
  margin-left: 10px;
  margin-top: 20px;
}

/*.matriz:first-of-type {
  display: none;
}*/
.resultados > .matriz {
  display: none;
}

.linha {
  display: block;
  height: 36px;
}

.bloco {
  height: 36px;
  display: inline-block;
  width: 36px;
}

.white {
  background: white;
}

.black {
  background: rgb(160, 160, 160);
}

.rainha {
  background-image: url('../assets/black_queen.png');
  background-size: auto;
  background-position: 3px 1px;
}

.try > span {
  color: red;
  font-weight: bold;
  margin-left: 10px;
  position: absolute;
}

.try {
  display: inline-grid;
}
